##############################
# APP environment setting    #
##############################
APP_TITLE=fastapi template
APP_DESCRIPTION=A simple template for fastapi and complete workflow
APP_VERSION=0.1.0
APP_OPENAPI_URL=/openapi.json
APP_PREFIX=/api

##############################
# DB environment setting     #
##############################
POSTGRES_DB=fastapi-template
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=m3ow87
POSTGRES_TEST_PORT=5432

##############################
# Core setting               #
##############################
SECRET_KEY=m3ow87